body {background-color: #aacfcf}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 5%
}

h3{font-family: cursive;
  color: #ff9234}

h1{color: #679b9b}

hr{border-style: none;
border top style: dotted;
border-color:;
border width: ;
width:;
}
